<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
      <link rel="stylesheet" href="styles/style.css">
      <script src="scripts/angular.min.js"></script>
      <script src="scripts/app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck" ng-controller="LunchCheckController" ng-style="style">
   <div class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="users_input"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-style="styleOfBorder">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="createMessage();">Check If Too Much</button>
         </div>
         <div class="form-group message">
             {{message}}
         </div>
   </div>
</body>
</html>
